.notification-box, .confirm-box {
  position: absolute;
  max-width: 350px;
  min-height: 100px;
  height: auto;
  background-color: white;
  border: 3px solid rgba(230, 230, 230, 1);
  border-radius: 10px;
  box-shadow: 2px 5px 10px lightgray;
  left: calc(50% - 175px);
  top: 10px;
  transition: 0.5s;
  z-index: 10;
  font-size: 20px;
}

.notification-box div {
  padding-left: 20px;
  padding-right: 20px;
}

.confirm-box {
  display: grid;
  grid-template-rows: 20px auto 40px;
  grid-template-rows: 'mot''hai''ba';
}

.confirm-title {
  grid: mot;
  padding-left: 20px;
  padding-right: 20px;
}

.confirm-message {
  grid: hai;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.confirm-btn {
  grid: ba;
  display: flex;
  position: relative;
}

.confirm-btn button {
  height: 30px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #29FFDF;
}

.notification-title, .confirm-title {
  padding-top: 10px;
  color: #29D5FF;
}

.notification-message {
  width: 350px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}

.small-noti {
  max-width: 280px;
  left: calc(50% - 140px);
}

.small-noti div:last-child {
  width: 280px;
}

.error-noti div:first-child {
  color: rgba(230, 50, 50, 1);
}

.noti-tab {}

.noti-content {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

.noti-content div {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  min-height: 50px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.noti-content div p {
  display: block;
  width: 240px;
  margin-top: 15px;
  margin-left: 10px;
  overflow-wrap: break-word;
}

.noti-content div i {
  display: block;
  font-size: 20px;
  color: #29D5FF;
  margin-top: 15px;
}

.hide-top {
  top: -50%;
}

.hide-d {
  display: none;
}

.hide-o {
  opacity: 0;
}